* {
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}
.firsttext {
    color: #911439;
}
.mainpic{
    height: 50VH !important;
    object-fit: cover;
}
.about-page {
    margin-top: 5%;
}
.aboutpera{
    font-size: large;
}
.abtimg {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    height: 60vh;
}

.abtimg:hover {
    transform: scale(0.9);
}

.about-btns {
    background-color: black !important;
    width: 220px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}


.about-btns:hover {
    background-color: #911439 !important;
}

.about-btns a {
    color: white;
    text-decoration: none;
}

.ordinaryabout {
    background-color: #FFF1EF;
    margin-top: 50px;
    text-align: center;
}

.ordinaryheadings {
    padding-top: 40px;
}
.picabt {
    padding-top: 40px;
    height: 50vh;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.picabt:hover {
    transform: scale(0.9);

}