* {
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}
.about-page{
    margin-top: 5%  ;
}
.abtimg{
    transition: transform 0.3s ease-in-out;
}
.abtimg:hover{
    transform: scale(1.1);
}

.about-btn {
    background-color: black !important;
    padding: 20px 30px ;
}


.about-btn:hover {
    background-color: #911439;
}

.about-btn a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
