* {
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}

.image-container img{
    height: 35%;
    object-fit: cover;
}
.serdiv {
    justify-content: space-around !important;
}

.price-box-wrapper {
    text-align: center;
    background-color: #FFF1EF !important;
    transition: transform 0.3s ease-in-out;
}

.price-box-wrapper:hover {
    transform: scale(1.1);
}

.texst {
    margin-top: 40px;
    text-align: center;
}

.texst h3 {
    font-size: 35px;
}

.pricediv {
    background-color: #EFCEC9;
}

ul li {
    list-style: none;
    text-align: start;
}

.book-btn {
    background-color: black;
    padding: 20px 30px;
}

.book-btn:hover {
    background-color: #911439;
}

.book-btn a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footer-wrapper {
    color: white;
    font-family: "Open Sans", sans-serif;

}



.footerlog{
vertical-align: middle;
height: 8vh;
}
.footer-link-wrapper{
    margin-left:80px ;
}

.unorderfoter{ 
    list-style: none;
    margin-left: 0% !important;
    padding-left: 0% !important;
}
.unorderfoter li {
    padding: 15px 0px 0px 0px;
}

.unorderfoter li a {
text-decoration: none;
color: white !important;
}

.footer-icon ul{
    list-style: none;
    padding-left: 0%;
}


.footer-icon ul li{
    padding: 10px;
border: 1px solid white;
border-radius: 55%;
}
.footer-icon ul li a{
color: white !important;
}
.footer-contact ul li{
    list-style: none;
    padding-top: 10px;
}

.footer-contact ul{
    padding-left: 0%;
}

.address-content a{
    padding-top: 20px !important;
    text-decoration: none;
    color: white !important;
}
